<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<h1>Adventure Works</h1>
<p>For API Documentation and to test click below</p>
<a href="~/swagger/index.html">API Docs</a>
</body>
</html>
